.page-mission {
	height: 100%;
	overflow: auto;

	h1.title {
		@extend %title;
		font-weight: 600;
		letter-spacing: 1px;
	}

	.main-container {
		padding: 40px;
		width: 53%;
		@extend %depth-z200;

		a {
			@extend %p-primary;
			color: #3172E0;
		}

		p.desc {
			@extend %p-primary;
			letter-spacing: 1px;
		}

		p.item {
			@extend %p-primary;

			.keys {
				@extend %p-small;

			}

			.values {
				@extend %header-medium;

			}
		}
	}
}
