.page-mission {
	height: 100%;
	overflow: auto;

	h1.title {
		@extend %title;
		font-weight: 600;
	}

	&>div {
		height: 100%;
	}

	h3 {
		@extend %header-medium;
	}

	.mission-detail {
		flex: 1;

		.header {
			.left-body {
				flex: 1;
			}
		}

		.resource {
			background-color: $n040;

			h2 {
				@extend %header-medium;
			}

			.container {
				@extend %depth-z200;
			}

			.item {
				.icon {
					height: 32px;
				}

				p.desc {
					@extend %p-secondary;
				}

				h4.title {
					@extend %header-small;
				}
			}

			.item-resource {
				.icon {
					flex: 0 0 32px;
					height: 32px;
					margin-right: $spacing-3;
				}

				.icon-right {
					margin-right: 0;
				}

				.blank {
					flex: 3;
				}

				.main-box {
					flex: 3;

					:global(.bp-progress) {
						height: $spacing;
					}

					p {
						@extend %p-small;
					}

					.circle {
						width: 64px;
						height: 64px;
					}

					.keys {
						@extend %p-primary;
					}

					.values {
						@extend %header-medium;
					}
				}

				h4 {
					@extend %p-secondary;
				}

				span.schedule {
					@extend %header-medium;
				}
			}
		}
	}

	.mission-report {
		flex: 0 0 392px;

		h4 {
			.title {
				@extend %header-small;
			}

			.times {
				@extend %p-secondary;
			}
		}

		.text {
			@extend %p-secondary;
		}
	}
}

.modal-welcome {
	background-color: rgba(9, 30, 66, 0.54);

	@media (min-width: 576px) {
		:global(.modal-dialog) {
			max-width: 600px;
		}
	}

	.content {
		img {
			flex: 0 0 128px;
			width: 128px;
			height: 128px;
		}

		.modal-content {
			flex: 1;

			h2.title {
				@extend %header-large;
			}

			p.item {
				@extend %p-primary;

				.keys {
					@extend %p-small;

				}

				.values {
					@extend %header-medium;

				}
			}
		}
	}
}
