.reference-container {
    height: calc(100% - 25px);

    h4.title {
        @extend %header-small;
    }

    .reference-tabs {
        flex: 0 0 80px;
    }

    .reference-content {
        flex: 1;
    }
}

.products-container {
    .trend {
        .title {
            height: 52px;
            line-height: 52px;
            @extend %p-primary;
        }

        .trend-line {
            height: 400px;
            background-color: #fff;
        }
    }

    h3.title {
        height: 52px;

        .main {
            @extend %header-small;

            .sub-title {
                @extend %p-small;
            }
        }

        .keys {
            @extend %p-primary;


        }

        button {
            line-height: 100%;
        }

        .overview {
            @extend %p-secondary;
        }
    }
}

.result-container {
    flex: 1;

    .nav {
        flex: 0 0 270px;
        list-style: none;

        &.reference-content {
            width: 100%;
        }

        li {
            height: 4*$spacing;
            @extend %header-small;
            line-height: 4*$spacing;
            cursor: pointer;

            span {
                flex: 1;
            }

            &:global(.active) {
                background-color: $n020a;
            }
        }
    }

    .content {
        flex: 1;
        overflow-x: auto;
    }
}

.output-container {
    height: 54px;
    @extend %header-medium;

}

.modal-welcome {
	background-color: rgba(9, 30, 66, 0.54);

	@media (min-width: 576px) {
		:global(.modal-dialog) {
			max-width: 600px;
		}
	}

	h3.title {
		@extend %header-medium;
	}

	h4.title {
		@extend %header-small;

		span {
			@extend %p-small;
		}
	}

	.content {
		margin-left: 32px;
		@extend %p-primary;
	}

	.keys {
		@extend %p-secondary;
		min-width: 42px;
	}

	.values {
		@extend %header-small;
	}
}

.modal-loading {
    background-color: rgba(9, 30, 66, 0.54);

    :global(.modal-content) {
        background-color: transparent;
        border: none;
    }

    .loading {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: trasparent;
        width: 160px;
        height: 160px;
        border-radius: 100%;
        border: 1px solid gray;
    }
    
    .loading:before {
        content: '';
        background: trasparent;
        width: 110%;
        height: 110%;
        position: absolute;
        border-radius: 100%;
        top: -5%;
        left: -5%;
        opacity: 0.7;
        -webkit-box-shadow: rgb(133, 153, 0) -4px -5px 8px -3px;
        box-shadow: rgb(133, 153, 0) -4px -5px 8px -3px;
        -webkit-animation: rotate 2s infinite linear;
        animation: rotate 2s infinite linear;
    }
    
    .loading:after {
        content: '';
        background: trasparent;
        width: 140%;
        height: 140%;
        position: absolute;
        border-radius: 100%;
        top: -20%;
        left: -20%;
        opacity: 0.7;
        -webkit-box-shadow: rgb(42, 161, 152) -4px -5px 8px -3px;
        box-shadow: rgb(42, 161, 152) -4px -5px 8px -3px;
        -webkit-animation: rotate 2.5s infinite linear;
        animation: rotate 2.5s infinite linear;
    }
    
    .text {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0;
        height: 40px;
        line-height: 40px;
        font-size: 26px;
        color: gray;
        letter-spacing: 1.2px;
    }
    
    @-webkit-keyframes rotate {
        0% {
            -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
        }
    
        100% {
            -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
        }
    }
    
    @keyframes rotate {
        0% {
            -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
        }
    
        100% {
            -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
        }
    }
    
}