.business-container {
	height: calc(100% - 25px);

	.overviews {
		flex: 0 0 170px;

		.item {
			flex: 1;
			background-color: $n000;

			h2 {
				@extend %header-medium;
			}

			.info {
				@extend %header-large;
			}

			:global(.bp-progress) {
				height: $spacing;

				:global(.bp-progress-bar) {
					background-color: $b200;
				}
			}

			.progress {
				&:global(.bp-progress .bp-progress-bar) {
					background-color: $n500;
				}
			}

			.legend {
				.circle {
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: $b200;
				}

				.values {
					@extend %p-secondary;
				}
			}
		}
	}

	.infos {
		flex: 0 0 314px;

		h3.title {
			flex: 0 0 54px;
			@extend %header-medium;

			.dd-hosp {
				width: 98px;
			}
		}

		h4.title {
			@extend %header-small;
		}

		.keys {
			@extend %p-primary;
		}

		.values {
			@extend %p-secondary;
		}

		.hospitals-configs {
			max-height: 402px;
			overflow: auto;

			a:hover {
				text-decoration: none;
			}

			:global(.current-hospital) {
				:global(.hospital-box) {
					background-color: $n040a;
				}
			}
		}

		.over-all {
			.values {
				@extend %p-small;
				line-height: 20px;
			}
		}
	}

	.hospitals {
		flex: 1;

		.hospitals-configs {
			flex: 0 0 368px;
			max-height: 700px;
			overflow: auto;

			h3.title {
				flex: 0 0 54px;
				@extend %header-medium;

				.dd-hosp {
					width: 98px;
				}
			}

			a:hover {
				text-decoration: none;
			}

			:global(.current-hospital) {
				:global(.hospital-box) {
					background-color: $n020a;
				}
			}
		}

		.hospital {
			flex: 1;
		}
	}


}
