.reference-container {
    height: calc(100% - 25px);

    h4.title {
        @extend %header-small;
    }

    .reference-tabs {
        flex: 0 0 80px;
    }

    .reference-content {
        flex: 1;
    }
}

.products-container {
    .trend {
        .title {
            height: 52px;
            line-height: 52px;
            @extend %p-primary;
        }

        .trend-line {
            height: 400px;
            background-color: #fff;
        }
    }

    h3.title {
        height: 52px;

        .main {
            @extend %header-small;

            .sub-title {
                @extend %p-small;
            }
        }

        .keys {
            @extend %p-primary;


        }

        button {
            line-height: 100%;
        }

        .overview {
            @extend %p-secondary;
        }
    }
}

.result-container {
    flex: 1;

    .nav {
        flex: 0 0 270px;
        list-style: none;

        &.reference-content {
            width: 100%;
        }

        li {
            height: 4*$spacing;
            @extend %header-small;
            line-height: 4*$spacing;
            cursor: pointer;

            span {
                flex: 1;
            }

            &:global(.active) {
                background-color: $n020a;
            }
        }
    }

    .content {
        flex: 1;
        overflow-x: auto;
    }
}

.output-container {
    height: 54px;
    @extend %header-medium;

}

.modal-welcome {
	background-color: rgba(9, 30, 66, 0.54);

	@media (min-width: 576px) {
		:global(.modal-dialog) {
			max-width: 600px;
		}
	}

	h3.title {
		@extend %header-medium;
	}

	h4.title {
		@extend %header-small;

		span {
			@extend %p-small;
		}
	}

	.content {
		margin-left: 32px;
		@extend %p-primary;
	}

	.keys {
		@extend %p-secondary;
		min-width: 42px;
	}

	.values {
		@extend %header-small;
	}
}
