.products-container {
	.trend {
		.title {
			height: 52px;
			line-height: 52px;
			@extend %p-primary;
		}

		.trend-line {
			height: 400px;
			background-color: #fff;
		}
	}

	h3.title {
		height: 52px;

		.main {
			@extend %header-small;
		}

		.overview {
			@extend %p-secondary;
		}
	}
}
