.business-container {
    height: -webkit-calc(100% - 25px);
    height: calc(100% - 25px);

    .item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: $n000;

        h3 {
            @extend %header-medium;
            height: 54px;
        }

        .info {
            @extend %header-large;
        }

        .keys {
            @extend %p-secondary;
        }

        .values {
            @extend %header-medium;
        }

        .progress {
            height: $spacing;
            background-color: #F4F5F7;
        }

        .progress:nth-child(2) {
            .bar {
                background-color: #79F2C0;
            }
        }

        .progress:nth-child(4) {
            .bar {
                background-color: #79E2F2;
            }
        }

        .progress:nth-child(6) {
            .bar {
                background-color: #998DD9;
            }
        }
    }

    .hospitals-configs {
        position: relative;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 368px;
        -ms-flex: 0 0 368px;
        flex: 0 0 368px;
        max-height: 552px;

        h3.title {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 54px;
            @extend %header-medium;

            .dd-hosp {
                width: 98px;
            }
        }

        .link-container {
            margin-top: 54px;
            overflow: auto;
        }

        a:hover {
            text-decoration: none;
        }

        :global(.current-hospital) {
            :global(.hospital-box) {
                background-color: $n020a;
            }
        }
    }

    .hospital {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}