@import "ember-bootstrap/bootstrap";

html,
body,
body>:global(.ember-view) {
    height: 100%;
    background-color: $n010;
}

:global(.modal-header) {
    @extend %header-large;
    border: 0;
}

:global(.modal-body) {
    :global(.desc) {
        @extend %p-primary;
    }

    :global(.secondary) {
        @extend %p-secondary;
    }

    h4 {
        @extend %header-small;
    }
}

:global(.modal-footer) {
    border: 0;
}

:global(.theme-default) {
    display: none;
}