.page-report {
    .back {
        @extend %p-small;
    }

    :global(.bp-page-header) {
        :global(.left-area) {
            p:nth-child(3) {
                line-height: 20px;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 8px;
                color: #7A869A;
            }
        }
    }

    .mid-title {
        height: 54px;

        .card-title {
            @extend %header-medium;
        }
    }
    .sum-up-performance {
        height: 290px;
        flex: 1;

        .card-title {
            font-weight: bold;
            height: 54px;
            @extend %header-medium;
        }

        .sum-up-content {
            height: 236px;

            .level {
                padding: 24px 120px;

                .level-img {
                    width: 128px;
                    height: 144px;
                }

                .img-title {
                    @extend %p-secondary;
                }

            }

            .level-content {
                max-width: 784px;

                .level-content-title {
                    @extend %header-small;
                }

                .level-contetn-text {
                    @extend %p-primary;
                }
            }
        }
    }

    .result {
        height: 290px;
        flex: 1;

        .result-title {
            font-weight: bold;
            @extend %header-medium;
        }

        .result-list {
            @extend %p-primary;
            height: 52px;

            .result-sub-title {
                @extend %header-small;
                font-weight: bold;
            }
        }
    }
}