.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: trasparent;
	width: 160px;
	height: 160px;
	border-radius: 100%;
	border: 1px solid gray;
}

.loading:before {
	content: '';
	background: trasparent;
	width: 110%;
	height: 110%;
	position: absolute;
	border-radius: 100%;
	top: -5%;
	left: -5%;
	opacity: 0.7;
	-webkit-box-shadow: rgb(133, 153, 0) -4px -5px 8px -3px;
	box-shadow: rgb(133, 153, 0) -4px -5px 8px -3px;
	-webkit-animation: rotate 2s infinite linear;
	animation: rotate 2s infinite linear;
}

.loading:after {
	content: '';
	background: trasparent;
	width: 140%;
	height: 140%;
	position: absolute;
	border-radius: 100%;
	top: -20%;
	left: -20%;
	opacity: 0.7;
	-webkit-box-shadow: rgb(42, 161, 152) -4px -5px 8px -3px;
	box-shadow: rgb(42, 161, 152) -4px -5px 8px -3px;
	-webkit-animation: rotate 2.5s infinite linear;
	animation: rotate 2.5s infinite linear;
}

.text {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	color: gray;
	letter-spacing: 1.2px;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}
