.overview {
	.item {
		flex: 1;

		h2.title {
			@extend %header-medium;
		}

		.content {
			@extend %p-secondary;

			table thead th {
				@extend %p-small;
				border: 0;
			}

			table tbody tr td {
				@extend %p-primary;
				border: 0;
			}
		}
	}
}

.cities-container {

	.nav {
		flex: 0 0 270px;
		list-style: none;

		li {
			height: 4*$spacing;
			@extend %header-small;
			cursor: pointer;

			span {
				flex: 1;
			}

			&.active {
				background-color: $n020a;
			}
		}
	}

	.content {
		flex: 1;

		.city-infos {
			flex: 1;

			h3.title {
				height: 52px;

				.main {
					@extend %header-small;
				}

				.desc {
					@extend %p-small;
				}
			}

			.keys {
				@extend %p-primary;
			}

			.values {
				@extend %p-secondary;
			}
		}
	}

}
