.mission-info {
	position: relative;
	z-index: 1;
	width: 270px;
	height: 138px;
	@extend %depth-z200;
	@extend %defaultRadius;
	cursor: pointer;

	.phase {
		@extend %p-secondary;
	}

	&.multiple-phase::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -8px;
		transform: translateX(-50%);
		z-index: 0;
		width: 243px;
		height: 8px;
		border-radius: 20%;
		opacity: .7;
		box-shadow: 0 4px 7px -2px rgba(9, 30, 66, 0.25);
	}

	&.multiple-phase::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -16px;
		transform: translateX(-50%);
		z-index: -1;
		width: 216px;
		height: 8px;
		border-radius: 20%;
		opacity: .5;
		box-shadow: 0 3px 6px -2px rgba(9, 30, 66, 0.25);
	}
}
