.hospital {
	h3.title {
		height: 52px;
		@extend %header-medium;

		.icon {
			cursor: pointer;
		}
	}

	h4.title {
		@extend %header-small;

		.subtitle {
			@extend %p-small;
		}
	}

	.content {
		.infos {
			flex: 1;

			.basic {
				img {
					flex-shrink: 0;
					flex-grow: 160px;
					height: 160px
				}

				.properties {
					flex: 1;
					font-size: 0;

					p span:first-child {
						@extend %p-secondary;
					}

					p span:last-child {
						@extend %p-primary;
					}

					&.properties:last-child {
						p span:first-child {
							min-width: 70px;
						}
					}
				}
			}
		}
		p.desc {
			@extend %p-secondary;
		}
		.medicine {
			flex: 1;

			table thead th {
				@extend %p-small;
				border: 0;
			}

			table tbody tr td {
				@extend %p-primary;
				border: 0;
			}
		}
	}
}
