{{#bp-layout direction="col" local-class="page-result" 
	classNames="p-4"}}
	{{#bp-page-header class="mb-4" local-class='result-header' as |ph|}}
		{{#ph.body as |body|}}
			{{#body.left as |left|}}
				{{#left.item}}
					执行结果报告
				{{/left.item}}
				{{#left.item}}
					{{model.scenario.name}}
					{{!-- 关卡周期 {{model.scenario.phase}}/{{model.detailProposal.proposal.totalPhase}} --}}
				{{/left.item}}
			{{/body.left}}
			{{#body.right}}
				{{#bp-button classNames='mr-2'
					onClick=(action 'checkManagerReport') }}
					导出数据
				{{/bp-button}}
				{{#bp-button
					onClick=(action 'checkManagerReport') }}
					查看测评综合表现
				{{/bp-button}}
			{{/body.right}}
		{{/ph.body}}
	{{/bp-page-header}}
	{{#bp-tabs local-class="tabs-container" as |tabs|}}
		{{#tabs.tablist as |list|}}
			<li class="nav-item">
				{{#list.link-to 'page-result.index' 
					classNames='nav-link'}}
					销售结果{{/list.link-to}}
			</li>
		{{/tabs.tablist}}
		{{outlet}}
	{{/bp-tabs}}
{{/bp-layout}}