h2.title {
	height: 54px;
	@extend %header-medium;
}

.nav {
	flex: 0 0 270px;
	list-style: none;

	li {
		height: 4*$spacing;
		@extend %header-small;
		cursor: pointer;

		span {
			flex: 1;
		}

		&.active {
			background-color: $n020a;
		}
	}
}

.content {
	flex: 1;

	.report {
		flex: 1;

		&.product {
			.chart {
				height: 332px;
			}
		}

		.choose-area {
			flex: 1;

			.keys {
				flex: 0 0 56px;
				@extend %p-primary;
			}

			.dd-area {
				flex: 1;
			}
		}

		.table-container {
			thead {
				background-color: transparent;

				th {
					padding-left: $spacing-2;
					border: 0;
					@extend %p-small;

					&:first-child {
						min-width: 50px;
					}
				}
			}

			tbody {
				td {
					padding: 0;
					padding-left: $spacing-2;

					height: 52px;
					line-height: 52px;
					@extend %p-primary;
					border: 0;
				}
			}
		}
	}
}
