.back {
	@extend %p-small;
	margin-bottom: 16px;
}

h1.title {
	@extend %title;
}

p.no-mission {
	height: 68px;
	@extend %p-primary;
}

.list-header {
	p {
		flex: 1;
		@extend %p-small;
	}
}

.list-body {
	p {
		flex: 1;
		@extend %p-primary;
	}
}
