{{#bp-layout direction='col' local-class='history-report' classNames='p-4'}}
	{{#link-to "index" local-class='back' classNames='mb-3'}}
		返回
	{{/link-to}}
	{{#bp-layout direction='col'}}
		{{!-- <h2>历史成果</h2> --}}
		{{#bp-page-header local-class='header' as |ph|}}
			{{#ph.body as |body|}}
				{{#body.left local-class='left-body' classNames='pb-4' as |left|}}
					{{#left.item tagName='h1' local-class='title' classNames='m-0'}}
						历史成果
					{{/left.item}}
				{{/body.left}}
			{{/ph.body}}
		{{/bp-page-header}}
		{{#if model.assessmentReports}}
			{{#bp-layout local-class='list-header' classNames='mt-4 px-4 border-bottom'}}
				<p class="my-2 text-center">完成时间</p>
				<p class="my-2 text-center">等级</p>
				<p class="my-2 text-center"></p>
				<p class="my-2 text-center"></p>
			{{/bp-layout}}
			{{#each model.assessmentReports as |assessmentReport|}}
				{{#bp-layout local-class='list-body' classNames='px-4'}}
					<p class="my-2 text-center">{{bp-string-slice assessmentReport.time 0}}</p>
					<p class="my-2 text-center">{{assessmentReport.simplifyResult.levelConfig.level.level}}</p>
					<p class="m-1 text-center">
						{{#bp-button onClick=(action 'checkReport' assessmentReport) class='mr-1'}}
							查看
						{{/bp-button}}
					</p>
					<p class="m-1 text-center">
						{{#bp-button onClick=(action 'outputData' 'assessment') class='mr-1'}}
							导出测试数据
						{{/bp-button}}
					</p>
				{{/bp-layout}}
			{{/each}}
		{{else}}
			{{#bp-layout tagName='p' main='center' cross='center' local-class='no-mission' classNames='bg-white'}}
				还没有完成过该任务
			{{/bp-layout}}
			{{!-- {{#link-to "page-result" classNames='mb-3'}}
				查看测试历史成果数据，正式发布会被移除
			{{/link-to}} --}}
		{{/if}}
	{{/bp-layout}}
{{/bp-layout}}
